<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="/static/public/css/style.css">
    <script src="/static/public/scripts/game_2.js" type="module"></script>
    <script src="/index.js" type="module"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>

</head>
<body>
    <h1> Wordle Game </h1>


    <div class="container" id="container">
        <div class="window">
            <div class="header">
                <h1>Welcome To The WORDLE++ MULTIPLAYER GAME</h1>
            </div>
            <div class="body">
                <div class="newRoom">
                    <h4>Create a New Game</h4>
                    <form onsubmit="return false">                        
                        <input name="p1name" type="text" placeholder="your name here">
                        <button class="createBtn btn btn-primary">Create</button>
                    </form>
                </div>
                
                <div class="joinRoom">
                    <h4>Join an existing Game</h4>
                    <form onsubmit="return false">                        
                        <input name="p2name" type="text" placeholder="your name here">
                        <input name="roomID" type="text" placeholder="room ID here">
                        <button class="joinBtn btn btn-primary">Join</button>
                    </form>
                </div>
                <div id="message">
                    TO JOIN A GAME PLAESE USE THE GAMEID FROM A PERSON WHO HAS CREATED THE GAME.
                </div>
                <br>  
            </div>
        </div>
    </div>
    
<div class="objects" id="objects">
    <div class="board_" id="board_">
        <div id="game-board_" class="game-board_">
            <h2> PLAYER </h2>
        </div>
        <div id="game-board_2_" class="game-board_2_">
            <h2> OPPONENT </h2>
    
        </div>
    </div>
    
    <div id="keyboard-cont" class="keyboard">
        <div class="row-1">
            <button class="keyboard-button" id="Q">Q</button>
            <button class="keyboard-button" id="W">W</button>
            <button class="keyboard-button" id="E">E</button>
            <button class="keyboard-button" id="R">R</button>
            <button class="keyboard-button" id="T">T</button>
            <button class="keyboard-button" id="Y">Y</button>
            <button class="keyboard-button" id="U">U</button>
            <button class="keyboard-button" id="I">I</button>
            <button class="keyboard-button" id="O">O</button>
            <button class="keyboard-button" id="P">P</button>
        </div>
        <div class="row-2">
            <button class="keyboard-button" id="A">A</button>
            <button class="keyboard-button" id="S">S</button>
            <button class="keyboard-button" id="D">D</button>
            <button class="keyboard-button" id="F">F</button>
            <button class="keyboard-button" id="G">G</button>
            <button class="keyboard-button" id="H">H</button>
            <button class="keyboard-button" id="J">J</button>
            <button class="keyboard-button" id="K">K</button>
            <button class="keyboard-button" id="L">L</button>
        </div>
        <div class="row-3">
            <button class="keyboard-button" id="Enter">Enter</button>
            <button class="keyboard-button" id="Z">Z</button>
            <button class="keyboard-button" id="X">X</button>
            <button class="keyboard-button" id="C">C</button>
            <button class="keyboard-button" id="V">V</button>
            <button class="keyboard-button" id="B">B</button>
            <button class="keyboard-button" id="N">N</button>
            <button class="keyboard-button" id="M">M</button>
            <button class="keyboard-button" id="Del">Del</button>
        </div>
    </div>

   
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<button onclick="info()">Info Message </button>
<button id="word"> correctword </button>
<button id="restart"> restart </button>

        <script type="text/javascript">
            function info(){
                toastr.info('Refresh the webpage to start a new Game?', 'Info:')
            }
        </script>
</div>
</body>
</html>