<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/public/css/invite_player.css" />
  
  </head>
  <body>
    <div class="invite-box">
      <h1>INVITE ANOTHER PLAYER</h1>
      <form id="login" action="game_2.html">
        <label>LINK</label>
        <input type="text" placeholder="enter link" />
        <button type="submit" class="form__button"> Submit </button>
      </form>
    </div>
  </body>
</html>