<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link rel="stylesheet" href="static/public/css/invite_player.css" />
</head>
<body>
   <!-- <div class="dropdown">
        <button class="dropbtn">Choose an Online Player to Invite</button>
        <div class="dropdown-content">
          <a href="#">Goodwill</a>
          <a href="#">Kevin</a>
          <a href="#">Thabang</a>
          <a href="#">Bophelo</a>
        </div>
      </div>-->
      <div class="dropdown_instruction">
        Choose an Online Player to Invite:
      </div>
      <div class="dropdown">
        <select id="select1" class="dropbtn" onclick="getOption()">
          <option value="free"></option>
          <option value="free">Goodwill</option>
          <option value="basic">Bophelo</option>
          <option value="premium">Felix</option>
          <option value="premium">Kevin</option>
          <option value="premium">Thabang</option>
      </select>
      </div>
      <div class="invitePlayer">   
      </div>
      <script src="/static/public/scripts/invite_player.js"></script> 
</body>
</html>