<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link rel="stylesheet" href="static/public/css/main_menu.css" />
</head>
<body>
    <form action="/game">
        <button class="form__button_1" id="singlePlayer" type="submit">Single-Player Mode</button>
    </form>
    <form action="static/views/invite_player.html">
        <button class="form__button_2" id="twoPlayer" type="submit">Two Player Mode</button>
    </form>
    <form action="">
        <button class="form__button_3" id="threePlayer" type="submit">Three Player Mode</button>
    </form>    
    <form action="/">
        <button class="form__button_4" id="logOut" type="submit">Log Out</button>
    </form>
</body>
</html>