<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/public/css/signin_signup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="http://ie.kis.scr.kaspersky-labs.com/1B74BD89-2A22-4B93-
    B451-1C9E1052A0EC/main.js" charset="UTF-8"></script>
    <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <form id="signup" method = "POST" action="/register">
        <label>UserName</label>
        <input type="text" name = "user_name" placeholder="Username" />
        <label>Email</label>
        <input type="email" name = "user_email" placeholder="Email" />
        <label>Password</label>
        <input type="password" name = "user_password" placeholder="Password" />
        <label>Confirm Password</label>
        <input type="password" name = "user_password_confirm" placeholder="Confirm Password" />
        <button type="submit" class="form__button_2"> Submit </button>
      </form>
    </div>
    <p class="para-2">
      Already have an account? <a href="/">Login here</a>
    </p>
  </body>
</html>