
.game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.letter-row {
display: flex;
}

.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.keyboard {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .keyboard div {
    display: flex;
  }

  .second-row {
    margin: 0rem 0;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    padding: 1rem;
    margin: 0 0px;
    cursor: pointer;
  }

  .keyboard-button:hover, .keyboard-button:focus{
    background-color: rgb(240, 148, 228);
  }