body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/static/public/image/backg.jpg);
  background-size: cover;
}

h1 {
    text-align: center;
   }
.board{
  display:flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  left: 600px;
}
.game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 30px;
  }
  
.letter-box {
    border: 2px solid yellow;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
.filled-box {
    border: 2px solid black;
  }
  
.letter-row {
    display: flex;
  }

.keyboard {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.keyboard div {
    display: flex;
  }
  
.row-2 {
    margin: 0rem 0;
  }
  
.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    padding: 1rem;
    margin: 0 0px;
    cursor: pointer;
    text-transform: uppercase;
  }

.keyboard-button:hover, .keyboard-button:focus{
    background-color: peru;
  }

  .toast-title {
    font-weight: bold;
  }
  
  .toast-message a,
  .toast-message label {
    color: #FFFFFF;
<<<<<<< HEAD
  }
=======
  }

.game-board_2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 60px;
}

.letter-box2 {
  border: 2px solid yellow;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.letter-row2 {
  display: flex;
}

.objects{
  position: relative;
  top: 30px;
}
>>>>>>> fdb6f6dc2dbbb5920aeecb3588782c8fd7e6de9b
